In [6]:
#Write a code to create a string with your name and print it

myname='daksh'
print(myname)

daksh

In [7]:
#Write a code to find the length of the string "Hello World"

myname='daksh pratibha'
print(len(myname))

14

In [10]:
#Write a code to slice the first 3 characters from the string "Python Programming"

subject = "python programming"
name = subject[:3]
print(name)

pyt

In [20]:
#Write a code to convert the string "hello" to uppercase

name = "dakshpratibha"

# Convert to uppercase
uppercase_name = name.upper()

# Print the result
print(uppercase_name)

DAKSHPRATIBHA

In [22]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

fruit='i like apply'
nfruit=fruit.replace('apply','orange')
print(nfruit)

i like orange

In [23]:
# Write a code to create a list with numbers 1 to 5 and print it

number=[1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

In [27]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [37]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers=[1,2,3,4,5]
numbers.pop(2) #using pop()by using to remvoe 3 by index value
print(numbers)

[1, 2, 4, 5]

In [40]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']

nletters = letters[1]

print(nletters)

b

In [44]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [45]:
#. Write a code to create a tuple with the elements 100, 200, 300 and print it

numbers = (100, 200, 300)

print(numbers)

(100, 200, 300)

In [50]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').


colors=['red','green','blue','yellow']
lcolors=colors[-2]
print(lcolors)

blue

In [51]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers=[10,20,5,15]
min(numbers)

5

In [54]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals=('dog','cat','rabbit')
animals.index('cat')

1

In [57]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=['orange','mango','gauva']
'kiwi'in fruits

False

In [58]:
sfruits=['orange','kiwi','mango']
'kiwi'in sfruits

True

In [59]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

elements=['a','b','c']
print(elements)

['a', 'b', 'c']

In [62]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers={1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [65]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers=[1,2,3,4]
numbers.remove(4)
print(numbers)

[1, 2, 3]

In [66]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5}

In [67]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1 & set2

# Print the result
print(intersection_set)

{2, 3}

In [68]:
 #Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Define the dictionary
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [69]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add the new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [70]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of the key "name"
name_value = person['name']

# Print the result
print(name_value)

Alice

In [71]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [72]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [73]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Print all data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [75]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [30, 46, 53, 64, 91]

In [76]:
# Write a code to create a list with strings and print the element at the third index.

# Create a list of strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at index 3
print("Element at index 3:", words[3])

Element at index 3: date

In [77]:
#Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merge into a new dictionary
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
#Write a code to convert a list of strings into a set.

# Define a list of strings
words_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
words_set = set(words_list)

# Print the result
print("Set:", words_set)

Set: {'cherry', 'banana', 'apple'}